<div
  class="border-2 border-black rounded-md p-4 w-fit flex flex-col gap-3"
  [class]="customClass">

    <ng-content select="[logoImage]"/>

  <section>
    <div *ngFor="let item of list">
      <ng-container
        *ngTemplateOutlet="itemTemplateRef || noTemplateGiven; context: { $implicit: item }"
      ></ng-container>
    </div>

    <ng-template #noTemplateGiven>
      <span>No template given for item</span>
    </ng-template>

  </section>

  <button
    class="border border-blue-500 bg-blue-300 p-2 rounded-sm"
    (click)="onClickAdd()">
    Add
  </button>
</div>
